.car-off {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 0;
}
.car1-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -14px;
}
.car2-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -28px;
}
.car3-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -42px;
}
.car4-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -56px;
}
.car5-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -70px;
}
.car6-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -84px;
}
.car7-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -98px;
}
.car8-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url("car.png") no-repeat 0 -112px;
}
